<div class="container">
  <div>
    <h3 style="color: #35bc58;">Знайдені поїзди</h3>

    <table>
      <tr>
        <th>
          Поїзди
        </th>

        <th>
          Звідки
        </th>

        <th>
          Дата відправлення
        </th>

        <th>
          Куди
        </th>

        <th>
          Дата прибуття
        </th>

        <th>
          Дія
        </th>
      </tr>

      <% @flights.each do |item| %>
        <tr>
          <td>
            <%= item[:train].train_number %>
          </td>

          <td>
            <%= item[:departure].station.name_station %>
          </td>

          <td>
            <%= item[:departure].date_departure %>
          </td>

          <td>
            <%= item[:arrival].station.name_station %>
          </td>

          <td>
            <%= item[:arrival].date_arrive %>
          </td>

          <td>
            <div id="train-btn">
              <a href="/flights/<%= item[:flight].id_flight %>/arrival/<%= item[:arrival].id_station %>/departure/<%= item[:departure].id_station %>/tickets" class="btn btn-primary" style="color: white; text-decoration: none">Вибрати</a>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>