<div class="container" xmlns="http://www.w3.org/1999/html">
  <div>
    <div>
      <div id="prev">jlfjskfj</div>
      <div id="form">
        <div class="current-flight" style="margin-top: 15px;">
          <h4>Рейс:</h4>
        </div>
        <div class="current-train" style="margin-top: 15px;">
          <h4> Поїзд:</h4>
        </div>
      </div>
      <div id="data">
        <div class="current-flight" style="margin-top: 15px;">
          <h4><%= @departure_flight.station.route.city %>, <%= @departure_flight.station.name_station %>  =>  <%= @arrival_flight.station.route.city %>, <%= @arrival_flight.station.name_station %></h4></div>
        <div class="current-train" style="margin-top: 15px;">
          <h4><%= @flight.train.train_number %></h4>
        </div>
      </div>
      <div id="next">sjfljskfj</div>
    </div>
    <form class="form-inline" action="/tickets" method="post" style="margin: 0 0 35px">
      <div>
      <div class="select">
        <div id="carriages">
          <div class="form-group">
            <input type="hidden" name="flight_id" value="<%= @flight.id_flight %>">
            <input type="hidden" name="departure_id" value="<%= @departure_flight.station.id_station %>">
            <input type="hidden" name="arrival_id" value="<%= @arrival_flight.station.id_station %>">
              <!--<label style="margin-top: 15px;" for="carriages-list">Виберіть вагон:</label>-->
              <!--<select class="form-control" id="carriages-list">-->
                <!--<option>купейний</option>-->
                <!--<option>плацкарт</option>-->
              <!--</select>-->
              <label style="margin-top: 15px;"  for="carriages-list">Номер вагону:</label>
              <select class="form-control" name="carriage_number" id="carriages-list">
                <% @flight.carriages.each do |c| %>
                  <option value="<%= c.carriage %>"><%= c.carriage %></option>
                <% end %>
              </select>
              <label style="margin-top: 5px;"   for="places-list">Виберіть місце:</label>
              <select class="form-control" name="place_number" id="places-list">
                <% (1..@flight.count_places).each do |i| %>
                    <option value="<%= i %>"><%= i %></option>
                <% end %>
                <% flash.each do |message_type, message| %>
                    <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
              </select>
            </div>
        </div>
      </div>
      <h4>Вкажіть інформацію про пасажирів</h4>
      <div ><div class="form-group">
            <input type="text" name="full_name" class="form-control" placeholder="Повне ім’я">
          </div>
          <div class="form-group">
            <input type="text" name="passport" class="form-control" placeholder="Номер паспорта">
          </div>
      </div>
    </div>
      <button style="margin-top: 25px;" type="submit" class="btn btn-success">Оформити</button>
    </form>
  </div>
</div>