<div class="container">
  <form action="#">
    <fieldset  class="fieldset1">
      <legend> Ваш квиток</legend>
      <div class="block3">
        <div id="list-ticket">
          <h5>Поїзд: <%= @ticket.flight.train.train_number %></h5>
          <h5>Дата відправлення: <%= @ticket.date_dispatch %></h5>
          <h5>Дата прибуття: <%= @ticket.date_arrival %></h5>
        </div>
      </div>
      <div class="block4">
        <h4>Інформація про покупця</h4>
        <h5><%= @ticket.full_name %></h5>
        <h5>Вагон: <%= @ticket.place.carriage.carriage %></h5>
        <h5>Місце: <%= @ticket.place.place %></h5>
        <form class="form-inline" style="margin-bottom: 20px;">
          <div class="form-group">
          </div>
        </form>
      </div>
    </fieldset>

  </form>


  <div class="button-ticket" style="margin-bottom: 20px; margin-top: 20px;">
    <a href="http://localhost:3000/" class="btn btn-primary">На головну</a>
  </div>

</div>